body {
    background-color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.nav_nombre {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: .2rem;
}

.nav_git {
    font-size: 1.2rem;
    font-weight: lighter;
    cursor: pointer;
}

.nav_opciones {
    margin-left: 1rem;
    cursor: pointer;
}

.nav_enlaces {
    display: flex;
    align-items: center;
}

.has-dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
}

.has-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f5f5f5;
}

.separador {
    margin-left: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: green;
}

.s {
    margin-bottom: 10px;
}

#registroForm {
    margin: 80px;
    padding: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

#registroForm label {
    font-weight: bold;
    font-size: 1.2rem;
}

#registroForm input[type="text"],
#registroForm input[type="email"],
#registroForm input[type="tel"],
#registroForm select,
#registroForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#registroForm input[type="radio"] {
    margin-right: 5px;
}

#registroForm input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

#registroForm input[type="submit"]:hover {
    background-color: #0056b3;
}

.titulo_formulario {
    margin-left: 50px;
    margin-bottom: 50px;
}

.parrafo_formulario {
    margin-left: 50px;
}

.separator {
    margin-top: 25px;
    margin-bottom: 50px;
}
